/* workers section  */
.workersSection, .workerSetting {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    padding: 3rem 4rem;
    overflow-x: hidden;
    box-sizing: border-box;
    gap: 2rem;
}

h2 {
    color: #cccccc;
}

.workersList, .signedInWorkers, .addWorkers, .removeWorkers {
    width: 50%;
}

table {
    width: 100%;
    color: white;
    padding: 0.5rem;
    border: 1px solid white;
}

table th {
    text-align: start;
    font-size: 1.2rem;
    border: 1px solid white;
    padding: 0.5rem;
}

table tr td {
    border: 1px solid white;
    padding: 0.5rem;
}

/* Workers Setting  */
.workerSetting {
    margin-top: 3rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form label {
    color: #FC7612;
    font-size: 1rem;
}

.form input {
    color: #FC7612;
    font-size: 1rem;
    height: 2.5rem;
    background-color: transparent;
    border: 1px solid #cccccc;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #FC7612;
    padding-left: 0.5rem;
}

.form input:focus {
    outline: none;
}

.form button {
    background-color: #FC7612;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.addBtn {
    color: white;
}
